.secret {
  height: 100vh;
}

.secret-main {
  justify-content: space-between;
}

.secret-desc {
  width: 500px;
  align-items: flex-start;
}

.coffee-img {
  width: 200px;

  &:focus{
    animation: jump-shaking 1s;
    animation-iteration-count: 3;
  }

  &:hover{
    width: 210px;
  }

  &:active{
    -webkit-animation: none;
          animation: none;
  }
}

@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-9px) }
  35% { transform: translateY(-9px) rotate(17deg) }
  55% { transform: translateY(-9px) rotate(-17deg) }
  65% { transform: translateY(-9px) rotate(17deg) }
  75% { transform: translateY(-9px) rotate(-17deg) }
  100% { transform: translateY(0) rotate(0) }
}

@media screen and (max-width: 600px) {
  .secret-desc {
    width: 80%;
    align-items: center;
  }

  .secret-main {
    flex-direction: column;
  }

  .secret-text {
    text-align: center;
  }
}
