/* .navbar {
  position: sticky;
  -webkit-position: sticky;
  top: 0;
  background-color: var(--background-color);
  padding: 15px;
  min-height: 50px;
  z-index: 10;
  width: 100%;
  overflow-x: hidden;
  --shadow: hsla(0 0% 0% / 0.1) 0 0.5rem 1rem;
  flex-wrap: wrap;
  box-shadow: var(--shadow);
}

.navbar.no-shadow {
  box-shadow: none;
}

@supports (animation-timeline: scroll()) {
  .navbar {
    animation: scroll-shadow linear both;
    animation-timeline: scroll();
    animation-range: 0ex 5ex;
  }

  @keyframes scroll-shadow {
    from {
      box-shadow: none;
    }

    to {
      box-shadow: var(--shadow);
    }
  }
}

.navbar-content{
  width: 95%;
  margin-left: 2.5%;
}

.brand-and-toggler {
  width: 100%;
}

.navbar-brand {
  z-index: 1;
}

.navbar-brand span {
  margin-left: 1rem;
}

.navbar-toggler-btn {
  z-index: 1;
  margin-right: 1rem;
}

.nav-item {
  margin-left: 1.6rem;
}

.navbar-collapse {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
  overflow-x: hidden;
  transform: translateY(-100%);
  background-color: var(--white-color);
  width: 100%;
  transition: all 300ms ease 0s;
}

.show-navbar-collapse {
  background-color: var(--light-gray-color);
  transform: translateX(0);
  align-items: flex-end;
  padding: 5rem 0rem 1rem 3rem;
  overflow-x: hidden;
}

.nav-item:hover {
  opacity: 0.5;
  font-weight: 400;
  text-shadow: 0 0 32px var(--green-color);
  transition: 0.3s;
}

@media screen and (min-width: 992px) {
  .navbar-collapse {
    position: relative;
    height: auto;
    padding: 0;
    width: 100%;
    background-color: transparent;
    transform: translateX(0);
    justify-content: flex-end;
    transition: none;
  }
  .navbar-toggler-btn {
    display: none;
  }

  .nav-item {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }

  .navbar-nav {
    display: flex;
    align-items: end;
    margin: 0px;
    margin-left: 150px;
    justify-content: space-between;
  }
} */

.navbar {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  padding: 15px;
  min-height: 50px;
  z-index: 10;
  width: 100%;
  overflow-x: hidden;
  flex-wrap: wrap;
  box-shadow: none; /* No shadow initially */
}

.navbar.shadow {
  box-shadow: hsla(0, 0%, 0%, 0.1) 0 0.5rem 1rem; /* Add shadow when .shadow class is added */
}

@supports (animation-timeline: scroll()) {
  .navbar {
    animation: scroll-shadow linear both;
    animation-timeline: scroll();
    animation-range: 0ex 5ex;
  }

  @keyframes scroll-shadow {
    from {
      box-shadow: none;
    }

    to {
      box-shadow: hsla(0, 0%, 0%, 0.1) 0 0.5rem 1rem;
    }
  }
}

.navbar-content {
  width: 95%;
  margin-left: 2.5%;
}

.brand-and-toggler {
  width: 100%;
}

.navbar-brand {
  z-index: 1;
}

.navbar-brand span {
  margin-left: 1rem;
}

.navbar-toggler-btn {
  z-index: 1;
  margin-right: 1rem;
}

.nav-item {
  margin-left: 1.6rem;
}

.navbar-collapse {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
  overflow-x: hidden;
  transform: translateY(-100%);
  background-color: var(--white-color);
  width: 100%;
  transition: all 300ms ease 0s;
}

.show-navbar-collapse {
  background-color: var(--light-gray-color);
  transform: translateX(0);
  align-items: flex-end;
  padding: 5rem 0rem 1rem 3rem;
  overflow-x: hidden;
}

.nav-item:hover {
  opacity: 0.5;
  font-weight: 400;
  text-shadow: 0 0 32px var(--green-color);
  transition: 0.3s;
}

@media screen and (min-width: 992px) {
  .navbar-collapse {
    position: relative;
    height: auto;
    padding: 0;
    width: 100%;
    background-color: transparent;
    transform: translateX(0);
    justify-content: flex-end;
    transition: none;
  }
  .navbar-toggler-btn {
    display: none;
  }

  .nav-item {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }

  .navbar-nav {
    display: flex;
    align-items: end;
    margin: 0px;
    margin-left: 150px;
    justify-content: space-between;
  }
}
