.projects {
  height: 100vh;
  overflow-x: hidden;
}

.projects-container {
  margin-top: 40px;
}

.projects-title {
  width: 60%;
  align-items: center;
}

.project-content {
  align-items: center;
}

.project-card {
  display: flex;
  align-items: center;
}